
.header {
  width: 100%;
  height: auto;
  background: #fff;
  padding: 5px 0px;
  position: relative;
  &:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 5px;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#d61360+1,48aad9+100 */
    background: #d61360; /* Old browsers */
    background: -moz-linear-gradient(left, #d61360 1%, #48aad9 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #d61360 1%,#48aad9 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #d61360 1%,#48aad9 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d61360', endColorstr='#48aad9',GradientType=1 ); /* IE6-9 */
    bottom: -5px;
    box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);
  }
  &__brand{
    width: 100%;
    height: 50px;
    padding: 5px 0px;
    float: left;
    img {
      height: 61px;
      padding-right: 0px;
      border-left: 0px;
      float: left;
    }
    h3 {
      margin: 0.4% 12%;
      padding: 0px;
      text-transform: uppercase;
      font-weight: bold;
    }
  }
}

@media only screen and (max-width: 640px) {
  .header {
    &__brand{
      width: 100%;
      height: auto;
      padding: 5px 5px;
      img {
        height: 35px;
        padding-right: 10px;
      }
      h3 {
        line-height: 35px;
        margin-left: 10px;
        font-size: 14px;
      }
    }
  }
}




form {
  margin-left: 3%;
  background: #3e3e3e;
  padding: 1px 68px;
  text-align: left;
  box-shadow: 4px 3px 3px #030202;
  width: 67%;
  height: 480px;
}

label {
  display: block;
  position: relative;
  margin: 40px 0px;
}
.back-log{background-image: url('../../assets/images/Small-meeting-rooms-design.png');
padding-top: 5px;
width: 100%;
height: 695px;}
input {
  width: 100%;
  padding: 10px;
  background: #fff;
  border: none;
  outline: none;
}

.line-box {
  position: relative;
  width: 100%;
  height: 2px;
  background: #BCBCBC;
}

.line {
  position: absolute;
  width: 0%;
  height: 2px;
  top: 0px;
  left: 50%;
  transform: translateX(-50%);
  background: #8BC34A;
  transition: ease .6s;
}

input:focus + .line-box .line {
  width: 100%;
}

.label-txt {
  position: absolute;
  top: -1.6em;
  padding: 10px;
  font-family: sans-serif;
  font-size: .8em;
  letter-spacing: 1px;
  color: rgb(120,120,120);
  transition: ease .3s;
}

.label-active {
  top: -3em;
}

button {
  display: inline-block;
  padding: 12px 24px;
  background: rgb(220,220,220);
  font-weight: bold;
  color: rgb(120,120,120);
  border: none;
  outline: none;
  border-radius: 3px;
  cursor: pointer;
  transition: ease .3s;
}

button:hover {
  background: #8BC34A;
  color: #ffffff;
}
.comp_name{
  font-size: 3.3em;
  letter-spacing: 3px;
  background: -webkit-linear-gradient(#fff, #9fffb2);
  -webkit-background-clip: text;
  color: #d4ffbf;
  -webkit-text-fill-color: transparent;
  font-family: serif;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;}
.btn-sabha-login{
  color: #fff;
  background-image: linear-gradient(#9d075b, #004a70);
  font-size: 1.8em;
  text-transform: capitalize;
  letter-spacing: 5px;
  font-weight: bold;
  background-color: #a2cd4d;
  border-radius: 0px;
}


@media only screen and (max-width: 600px) {
  form[_ngcontent-c1] {
    margin-left: 3%;
    background: #3e3e3e;
    padding: 1px 68px;
    text-align: left;
    box-shadow: 4px 3px 3px #030202;
    width: 100%;
    height: 434px;
  }
}
