
<br/>
<div class="container  col-lg-12 col-md-12">
  <div class="login_container">

  <div class="col-md-4 col-lg-4"></div>
  <div class="col-md-6 col-lg-6">
    <form action="" class="" (submit) = loginUser($event)><br/><br/>
      <h3 class="comp_name">Sabha</h3><br/><br/><br/>
            <div class="">
              <input type="text" class="" id="emp-id" placeholder="Enter your employee id">
            </div>
      <br/>
            <div class="">
              <input type="password" class="" id="password" placeholder="Enter your password">
            </div>
      <br/><br/><br/>
            <input type="submit" value="login" class="btn-sabha-login">
    </form>

  </div>
  <div class="col-md-2 col-lg-2"></div>
  </div>
</div>
