.header {
  width: 100%;
  height: auto;
  background: #fff;
  padding: 5px 0px;
  position: relative;
  &:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 5px;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#d61360+1,48aad9+100 */
    background: #d61360; /* Old browsers */
    background: -moz-linear-gradient(left, #d61360 1%, #48aad9 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #d61360 1%,#48aad9 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #d61360 1%,#48aad9 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d61360', endColorstr='#48aad9',GradientType=1 ); /* IE6-9 */
    bottom: -5px;
    box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);
  }
  &__brand{
    width: 100%;
    height: 38px;
    padding: 5px 0px;
    float: left;
    img {
      height: 40px;
      padding-right: 0px;
      border-left: 0px;
      float: left;
    }
    h3 {
      margin: 0.4% 12%;
      padding: 0px;
      text-transform: uppercase;
      font-weight: bold;
    }
  }
}
.grid {
  display: grid;
  grid-gap: 15px;
  grid-template-columns: repeat(3, 1fr );
  padding: 10px;
}

.grid__item {
  background: #fff;
  box-shadow: 0 1px 2px rgba(0, 0, 0, .07);
  padding: 15px;
  line-height: 25px;
  &-selectedRoom {
    h3.room-name {
      color:#41A7D8;
      text-transform: uppercase;
      text-align: center;
      padding-bottom: 15px;
      border-bottom: 1px solid #41A7D8;
      margin-bottom: 15px;
      small {
        font-size: 16px;
        text-transform: capitalize;
        font-weight: normal;
      }
    }
  }
}

@media only screen and (min-width: 200px) and (max-width: 320px) {
    .grid {
        grid-template-columns: 1fr;
    }
}

svg {
  width: 100%;
  height: auto;
}

.st-grey {
  fill: #F0F0F0;
  stroke: #9B9B9B;
}
.st-blue {
  fill: #3D77B0;
  stroke: #9B9B9B;
  stroke-miterlimit: 10;
}
.st-green {
  fill: #03BA3A;
  stroke: #9B9B9B;
  stroke-miterlimit: 10;
}
.st-red {
  fill: #BC9034;
  stroke: #9B9B9B;
  stroke-miterlimit: 10;
}
.st-selected {
  stroke: #A2CD48;
  stroke-miterlimit: 10;
  stroke-width: 3;
  transition: all 600ms ease;
}

.booked-by-container {
  height: 360px;
  overflow-y: auto;
}

.booked-by {
  padding: 10px;
  background: #BAE1FF;
  margin-bottom: 15px;  
  h3 {
    margin: 0px;
    font-size: 18px;
    text-transform: uppercase;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #3D77B0;
    small {
      text-transform: capitalize;
    }
  }
  p {
    margin-bottom: 5px;
    &:last-child {
      margin-bottom: 0px;
    }
  }
}

timepicker table {
  margin-top: 2px;
}

#customsTablist li button {
  padding-bottom: 12px;
  width: 100%;
  height: 100%;
  background: none;
  border: none;
  font-size: 1.2em;
  color: #d91260;
  font-weight: bold;
  margin: 0;
}

.rtab {
  cursor: pointer;
  text-align: center;
  padding-inline-start: inherit;
  margin: 0 0 5px 0;
}

.rtab-item {
  border-bottom: 2px solid #f2f2f2;
  display: inline-block;
  font-size: 15px;
  position: relative;
  text-align: center;
  width: 300px;
  transition: all 0.2s linear;
  flex: 1;
}

.rtab-item--after {
  background-color: #007AB7;
  content: '';
  display: block;
  height: 5px;
  bottom: -1px;
  left: 0;
  position: absolute;
  transition: all 0.2s linear;
  opacity: 0;
  width: 100%;
}


button.rtab-item--active{
  border-bottom: 5px solid #96c764 !important;
}

.tabs {
  list-style: none;
  padding: 0;
  display: -ms-flexbox;
  display: flex;
  margin: 30px auto;
  max-width: 615px;
  font-size: .9rem
}
* button:focus{
  outline:1px dashed #4d148c !important;
}
