.header {
  width: 100%;
  height: auto;
  background: #fff;
  padding: 5px 0px;
  position: relative;
  &:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 5px;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#d61360+1,48aad9+100 */
    background: #d61360; /* Old browsers */
    background: -moz-linear-gradient(left, #d61360 1%, #48aad9 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #d61360 1%,#48aad9 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #d61360 1%,#48aad9 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d61360', endColorstr='#48aad9',GradientType=1 ); /* IE6-9 */
    bottom: -5px;
    box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);
  }
  &__brand{
    height: auto;
    padding: 5px 0px;
    float: left;
    img {
      height: 40px;
      padding-right: 0px;
      border-left: 0px;
      float: left;
    }
  }
  &__app-name{
    padding: 5px 0px;
    margin-left: 30px;
    padding-left: 30px;
    margin-top: 5px;
    border-left: 1px solid #9B9B9B;
    float: left;
    img {
      height: 30px;
      padding-right: 0px;
      border-left: 0px;
      float: left;
    }
  }
  &__logout {
    margin-left: 15px;
  }
}

svg {
  width: 100%;
  height: auto;
}

.st-grey {
  fill: #F0F0F0;
  stroke: #9B9B9B;
}
.st-blue {
  fill: #3D77B0;
  stroke: #9B9B9B;
  stroke-miterlimit: 10;
  cursor: pointer;
}
.st-blue:hover {
  fill: rgb(0, 67, 134);
  transition: all 100ms ease;
  stroke: #A2CD48;
  stroke-miterlimit: 10;
  stroke-width: 3;
}
.st-green {
  fill: #03BA3A;
  stroke: #9B9B9B;
  stroke-miterlimit: 10;
  cursor: pointer;
}
.st-green:hover {
  fill: rgb(0, 139, 42);
  transition: all 100ms ease;
  stroke: #A2CD48;
  stroke-miterlimit: 10;
  stroke-width: 3;
}
.st-red {
  fill: #BC9034;
  stroke: #9B9B9B;
  stroke-miterlimit: 10;
  cursor: pointer;
}
.st-red:hover {
  fill: rgb(136, 93, 0);
  transition: all 100ms ease;
  stroke: #A2CD48;
  stroke-miterlimit: 10;
  stroke-width: 3;
}
.st-selected {
  stroke: #A2CD48;
  stroke-miterlimit: 10;
  stroke-width: 3;
  transition: all 600ms ease;
}

.booked-by-container {  
  max-height: 360px;
  overflow-y: auto;
  p {
    margin-bottom: 5px;
  }
  margin-right: -15px;
  margin-left: -15px;
}

.booked-by {
  padding: 10px;
  background: #3D77B0;
  margin-bottom: 0px; 
  margin-top: 10px;  
  h3 {
    margin: 0px;
    font-size: 18px;
    text-transform: capitalize;
    color: #fff;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #fff;
    small {
      text-transform: capitalize;
      color: #fff;
    }
  }
  p {
    margin-bottom: 5px;
    color: #fff;
    &:last-child {
      margin-bottom: 0px;
    }
  }
}

.c-tab {
  &__nav {
    text-align: center;
    background: #fff;
    // border: 1px solid rgba(198, 199, 201,0.7);
  }
  &__nav-item {
    cursor: pointer;
    display: inline-block;
    width: 200px;
    font-weight: bold;
    margin: 0px 5px;
    padding: 10px;
    font-size: 18px;
    position: relative;
    color: #D61360;
    &--active:after {
      content: '';
      position: absolute;
      width: 100%;
      height: 5px;
      /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#d61360+1,48aad9+100 */
      background: #43A8DA; /* Old browsers */
      background: -moz-linear-gradient(left, #43A8DA 1%, #A0CB4A 100%); /* FF3.6-15 */
      background: -webkit-linear-gradient(left, #43A8DA 1%,#A0CB4A 100%); /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to right, #43A8DA 1%,#A0CB4A 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#43A8DA', endColorstr='#A0CB4A',GradientType=1 ); /* IE6-9 */
      bottom: -3px;
      left: 0px;
    }
  }
  &__content {
    margin-top: 15px;
  }
}

@media only screen and (max-width: 767px) {
  .header {
    &__user {
      display: block;
      float: none !important;
      text-align: right;
      line-height: normal !important;
      clear: both;
      border-top: 1px solid #D7D7D9;
      margin-top: 5px;
      padding-top: 5px;
    }
    &__app-name {
      width: 50%;
      display: block;
      margin-left: 0px;
      padding-left: 30px;
      float: right;
      border: none;
    }
    &__brand {
      width: 40%;
      display: block;
    }
    &__logout {
      padding: 0px 5px;
    }
  }

  .c-tab {
  &__nav {
    text-align: center;
  }
  &__nav-item {
    text-align: center;
    display: inline-block;
    width: 120px;
    font-size: 16px;
  }
}

.booked-by-container {
  height: auto;
}

}

@media only screen and (min-width: 768px) and (max-width: 1200px) {
  
}

.table-responsive {
  background: #fff;
}

.dateTimeForm {
  padding: 15px 15px 0px 15px;
  background: #fff;
  border: 1px solid rgba(198, 199, 201,0.7);
}

.c-box {
  padding: 15px 15px 15px 15px;
  background: #fff;
  border: 1px solid rgba(198, 199, 201,0.7);
  margin-top: 15px;
  &__title {
    margin-bottom: 15px;
    > h3 {
      margin: 0px;
      font-size: 16px;
      color: #333;
      font-weight: bold;
      position: relative;
      margin-bottom: 15px;
      &:after {
        content: '';
        position: absolute;
        width: 100%;
        height: 1px;
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#d61360+1,48aad9+100 */
        background: #43A8DA; /* Old browsers */
        background: -moz-linear-gradient(left, #43A8DA 1%, #A0CB4A 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(left, #43A8DA 1%,#A0CB4A 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to right, #43A8DA 1%,#A0CB4A 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#43A8DA', endColorstr='#A0CB4A',GradientType=1 ); /* IE6-9 */
        bottom: -15px;
        left: 0px;
      }
      small {
        font-size: 12px;
        text-transform: capitalize;
        color: #48A9D8;
        font-weight: bold;
      }
    } 
  }
  &__content {
    padding-top: 15px;
  }
  &-map {
    svg {
      vertical-align: middle;
    }
  }
  &-details {
    padding-bottom: 0px;
  }
}

.c-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 40px; /* Set the fixed height of the footer here */
  &__copy-text {
    margin-bottom: 0px;
    text-align: center;
    line-height: 40px;
    color: #333;
  }
  &:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 5px;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#d61360+1,48aad9+100 */
    background: #43A8DA; /* Old browsers */
    background: -moz-linear-gradient(left, #43A8DA 1%, #A0CB4A 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #43A8DA 1%,#A0CB4A 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #43A8DA 1%,#A0CB4A 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#43A8DA', endColorstr='#A0CB4A',GradientType=1 ); /* IE6-9 */
    top: -5px;
  }
}




