/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,500,600,700,800');
@import '~ngx-toastr/toastr.css';
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  position: relative;
  min-height: 100%;
}

body, html {
  font-family: 'Raleway', sans-serif;
}

.clearfix:after {
   content: " "; /* Older browser do not support empty content */
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}

.content {
  margin-top: 55px;
}

@media only screen and (max-width: 640px) {
  .content {
    margin-top: 20px;
    padding: 10px;
  }
}

@media only screen and (min-width: 641px) and (max-width: 1200px) {
  .content {
    margin-top: 20px;
    padding: 10px;
  }
}

timepicker table {
  margin-top: 2px;
}

.booking-caption {
  text-align: left;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 10px;
}